<html>
  <head>
  </head>
  <body >
    <div class="container" >
      <div class="row">
        <div class ="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
         <form (submit)="loginUser($event)">
           <div class="form-group" ><br>
            <header> 
              Login 
            </header><br><br>
            <div class = "input">
              <label > Username :</label>
              <input type ="text" class="form-control" placeholder="Enter your Username">
            </div><br>
            <div class = "input">
              <label> Password :</label>
              <input type="password"  class="form-control"  placeholder="Enter your Password">
            </div><br>
            <div class = "input">
              <input type="submit" class="btn btn-primary" value="Login" style="margin-left: 40%"><br><br>
            </div> 
           </div>
          </form>
         </div>
      </div>
    </div>
  </body>
</html>


